.body{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}
.title{
    text-align: center;
    font-family: cursive;
    font-size: 4rem;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    color: rgb(59, 57, 57);
}
.update{
    text-align: center;
    color: wheat;
    font-family: cursive;
    font-size: 2 rem;
}
.text{
    text-align: center;
    font-size: 3rem;
    color: white;
}